h3{
font-family: Helvetica, Arial, sans-serif;
width: 900px;
font-size: 50px;
color: rgb(252, 34, 5);

}
	p{
	width: 900px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
	line-height: 29px;
	font-style:bold;
	font-weight: bold;
	text-transform: lowercase;
	text-align: justify;
}

.bold {
	font-weight: bold;
}

.blue {
	color:blue;
}

#red-pants {
	position:absolute;
	height:600px;
	width:600px;
	top:150px;
	left:840px
}

body{
	background: rgb(149, 252, 5);
}